<h2><%= I18n.t('recovery_codes.download.title', {:scope => 'devise'}) %></h2>
<%= form_for(resource, :as => resource_name, :url => [:download, resource_name, :recovery_codes], :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.text_field :current_password, :autocomplete => :off %>
    <p><%= f.submit I18n.t('recovery_codes.download.button', {:scope => 'devise'}) %></p>
<% end %>

